<h2>
    We are learning Bootstrap installing and checking if it is working fine.
</h2>
<h1 class="bg-primary text-white p-3 m-3 text-center">Booststrap</h1>
<h1 class="bg-secondary text-white p-3 m-3 text-center">Booststrap</h1>
<h1 class="bg-success text-white p-3 m-3 text-center">Booststrap</h1>
<h1 class="bg-warning text-white p-3 m-3 text-center">Booststrap</h1>
<h1 class="bg-info text-white p-3 m-3 text-center">Booststrap</h1>
<h1 class="bg-dark text-white p-3 m-3 text-center">Booststrap</h1>
<h1 class="bg-danger text-white p-3 m-3 text-center">Booststrap</h1>