<h1>{{title}}</h1>

<!-- <app-inline></app-inline> -->
<!-- <app-user3></app-user3> -->
<!-- <app-interpolation></app-interpolation> -->
<!-- <app-bindings></app-bindings> -->
<!-- <app-class-binding></app-class-binding> -->
<!-- <app-style-binding></app-style-binding> -->
<!-- <app-template-reference></app-template-reference> -->
<!-- <app-counter></app-counter> -->
<!-- <h1>We learned about MVC in today's lecture -> 08-12-2024</h1> -->
<!-- <app-two-way></app-two-way> -->
<!-- <app-ng-if></app-ng-if> -->
<!-- <app-ngswitch></app-ngswitch> -->
<!-- <app-ngfor></app-ngfor> -->
<!-- <app-fornested></app-fornested> -->
<!-- <app-boots></app-boots> -->
<!-- <app-child [myData]="name"></app-child>

<app-child [myArr]="fruits"></app-child>
<app-child [myObj]="obj"></app-child>
<button (click)="changeName()">Change Name</button> -->
<!-- <h2>{{ msg }}</h2>
<app-child2 (childEvent)="msg=$event"></app-child2> -->
<app-pipes></app-pipes>